<div class="note-container">
    <div class="modal-header">
        <h4 class="modal-title">
            <% if(note.get('id')){ %>
                Edit Note
            <% }else{ %>
                Create Note
            <% } %>
        </h4>
    </div>
    <div class="modal-body">
        <form id="noteForm" role="form">
            <input type="text" id="title" class="form-control" placeholder="Title" required="" autofocus="" value="<%= note.get('title') %>">
            <textarea id="body" class="form-control" placeholder="Write something here..." required=""><%= note.get('body') %></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default modal_close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" type="submit" id="save">Save changes</button>
    </div>
</div>